@model IEnumerable<ExameP2.Models.Noticia>

@{
    ViewData["Title"] = "Index";
}

<h1>Notícias</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Notícia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
               <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            
        </tr>
}
    </tbody>
</table>
